<footer >
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h5 style="text-decoration: underline;">About Us</h5>
                <article>
                    We are a God fearing and determined instituition aiming to be the best in the republic,we work hand in hand
                    with our clients to ensure their satisfaction 
                </article>
            </div>
            <div class="col-md-4" style="padding: 40px 40px;">
                <img [src]=mylogo height="50" width="50">
            </div>
            <div class="col-md-4" style="padding: 40px 40px;">
                <h6>Powered by <span class="text-primary">Iconic Software Ltd</span></h6>
            </div>
        </div>
    </div>
</footer>
<div class="container text-center copyright">
    <p>Iconic Software Ltd 2020. All Rights Reserved.</p>
</div>
