<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h5 style="text-decoration: underline;">About Us</h5>
                <article>
                    We are dedicated to ensure you have found your dream property and settled in perfectly
                </article>
            </div>
            <div class="col-md-4" style="text-align: justify;">
                <h6>Powered by <span class="text-primary">Iconic Software Ltd</span></h6>
            </div>
            <div class="col-md-4">
                <h6>Quick links</h6>
            </div>
        </div>
    </div>

</footer>
<div class="container text-center copyright">
    <p>Iconic Software Ltd 2020. All Rights Reserved.</p>
</div>
