.services{
  background-image: url(https://wallpaperaccess.com/full/1660069.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 100px 100px;
}
.properties{
  background-color: #969BA0;
}
.scrolling-wrapper {
  overflow: auto;
  white-space: nowrap; 
}
.card {
  display: inline-block;
}