<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #283036;">
    <a class="nav-brand" routerLink="/"><img [src]=mylogo height="40" width="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mx-auto">
                <li><a class="nav-item nav-link active" routerLink="/" routerLinkActive='active' style="color: #969BA0;">Home</a></li>
                <li><a class="nav-item nav-link" routerLink="/properties" routerLinkActive='active' style="color: #969BA0;">Properties</a></li>
                <li><a class="nav-item nav-link" routerLink="/contact" routerLinkActive='active' style="color: #969BA0;">Contact us</a></li>
                <li><a class="nav-item nav-link"routerLink="/about" routerLinkActive='active' style="color: #969BA0;">Who we are</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="background-color: transparent;">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
      </div>
      
</nav>
