<div id="post" class="container" style="padding: 10px;">
    <div class="card" style="padding: 10px 10px;">
        <h3 style="background-color: #969BA0;"class=" text-center card-header">Add Property</h3>
        <form [formGroup]="PostForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input style="background-color: transparent;" type="text" formControlName="name" class="form-control" id="exampleFormControlInput1" placeholder="Property name" >
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input style="background-color: transparent;" type="text" formControlName="location" class="form-control" id="exampleFormControlInput1" placeholder="location" >
                </div>
              </div>
            </div>
        <div class="form-group">
            <input type="file" class="form-control-file" uploadcare-widget id="file"  images-only="true" public-key="557ba8f5e78026902bd0"
            (change)="onFileChange($event)">  
        </div> 
        <div class="form-group">
          <input style="background-color: transparent;" type="text" class="form-control" placeholder="Price" formControlName = "price">
      </div> 
    <div class="form-group">
        <textarea style="background-color: transparent;" class="form-control" formControlName="description" rows="3" placeholder="property Description" ></textarea>
    </div>
      
      <div class="text-center">
        <button type="submit" style="border-radius: 10px; width: 50%;" class="btn btn-outline-success">Submit property</button>
      </div>
    </div>
    </form>
</div>